#todoList{
  border-collapse: collapse;

}

#todoList td, #todoList th{
  padding: 5px, 8px;
}

thead th{
  background-color: skyblue;
}

/* 짝수 번째 행 */
tbody > tr:nth-last-of-type(2n){
  background-color: rgb(219, 255, 255);
}